//- available properties:
  avatar: string;
  name: string;
  date: string;
  text: string;
  likesNumber: number;

include /components/Button-like/Button-like.pug

mixin review({ avatar, name, date, text, likesNumber })
  .review
    .review__author
      img.review__avatar(src=avatar, alt=name)
      .review_author-wrapper
        p.review__name= name
        p.review__date= date
    .review__info
      +button-like({likesNumber, isPressed:true})
      p.review__text= text
