//- available properties:
  size: small | medium | full-width;
  style: filled | border | borderless | round | round-selected | round-arrow;
  arrow: boolean;
  text: string;
  href: string;
  disabled: boolean;

mixin button-content(arrow, text)
  span.button__text= text
  if (arrow)
    span.button__icon

mixin button({size='medium', style='border', arrow=false, text="", disabled=false, href })
  - const modifier = "button--";
  - const buttonStyles = `button ${modifier + style} ${modifier + size}`;

  if href
    a(class=buttonStyles, href=href)&attributes(attributes)
      +button-content(arrow, text)
  else
    button(class=buttonStyles, disabled=disabled)&attributes(attributes)
      +button-content(arrow, text)
