//- available properties:
  heading: string;
  legendItems: [great, good, passably, disappointed];

mixin chart({ heading, legendItems })
  section.chart
    h2.chart__heading #{ heading }
    .chart__wrapper
      .chart__container
        canvas.chart__canvas.js-chart-canvas(height='120', width='120')

      if legendItems.length > 0
        ul.chart__legend-items
          each item in legendItems
            case item
              when 'great'
                li.chart__item.chart__item_style_great
                  span.chart__item-text= 'Великолепно'
              when 'good'
                li.chart__item.chart__item_style_good
                  span.chart__item-text= 'Хорошо'
              when 'passably'
                li.chart__item.chart__item_style_passably
                  span.chart__item-text= 'Удовлетворительно'
              when 'disappointed'
                li.chart__item.chart__item_style_disappointed
                  span.chart__item-text= 'Разочарован'
