//- available properties:
  checked: boolean;
  value: string;
  name: string;
  text: string

mixin input-radio(properties)
  label.input-radio__label
    input.input-radio(
      type='radio',
      checked=properties.checked || false,
      value=properties.value || false,
      name=properties.name || false
    )
    span.input-radio__icon
    span.input-radio__label-text= properties.text
