//- available properties:
  type: button | reset | submit
  size: small | medium
  width: small | full | auto;
  style: filled | border | borderless | page | page_selected | page_next;
  arrow: boolean;
  text: string;
  href: string;
  disabled: boolean;

mixin button-content(arrow, text)
  span.button__text= text
  if (arrow)
    span.button__icon

mixin button({type='button', size='medium', width='auto', style='border', arrow=false, text="", disabled=false, href=null })
  -
    const classListStyle = {
      filled : 'button_filled',
      border: 'button_border',
      borderless: 'button_borderless',
      page: 'button_page',
      page_selected: 'button_page_selected',
      page_next: 'button_page_next',
    }
  -
    const classListSize = {
      small: 'button_size_small',
      medium: 'button_size_medium',
    }
  -
    const classListWidth = {
      small: 'button_width_small',
      full: 'button_width_full',
      auto: 'button_width_auto',
    }
  - const buttonClassNames = `button ${classListStyle[style]} ${classListSize[size]} ${classListWidth[width]}`;

  if href
    a(class=buttonClassNames, href=href)&attributes(attributes)
      +button-content(arrow, text)
  else
    button(type=type, class=buttonClassNames, disabled=disabled)&attributes(attributes)
      +button-content(arrow, text)
