//- available properties:
  dropdownLabel: string;
  dateLabel: string;
  size: small | medium;
  arrivalLabel: string;
  departureLabel: string;
  dropdownClass: string;
  dropdownArrivalClass: string;
  dropdownDepartureClass: string;

include /components/input/input.pug

mixin date-dropdown(options)
  -
    const {
      dropdownLabel,
      size,
      arrivalLabel,
      departureLabel,
      dropdownClass,
      dropdownArrivalClass,
      dropdownDepartureClass,
    } = options

    const inputPropsBase = {
      type: 'text',
      placeholder: 'ДД.ММ.ГГГГ',
      button: 'expand-more',
      style: 'dropdown',
      openByButton: true,
      readonly: true,
      size: size,
      data: ['data-input'],
    }

    const inputPropsSingle = {
      ...inputPropsBase,
      name: 'date',
      placeholder: 'ДД МM - ДД МM',
    }

  if dropdownClass
    .date-dropdown
      .date-dropdown__input-filter(class=dropdownClass)
        span.date-dropdown__label= dropdownLabel || ""
        +input(inputPropsSingle)
  else
    fieldset.date-dropdown(name='dateRange')
      .date-dropdown__input(class=dropdownArrivalClass)
        span.date-dropdown__label= arrivalLabel || ""
        +input({ ...inputPropsBase, name: 'dateArrival' })
      .date-dropdown__input(class=dropdownDepartureClass)
        span.date-dropdown__label= departureLabel || ""
        +input({ ...inputPropsBase, name: 'dateDeparture' })
