//- available properties:
  dropdownLabel: string;
  dateLabel: string;
  size: small | medium;
  arrivalLabel: string;
  departureLabel: string;
  dropdownClass: string;
  dropdownArrivalClass: string;
  dropdownDepartureClass: string;

include /components/input/input.pug

mixin date-dropdown(options)
  -
    const {
      dropdownLabel,
      size,
      arrivalLabel,
      departureLabel,
      dropdownClass,
      dropdownArrivalClass,
      dropdownDepartureClass,
    } = options
  -
    const inputPropsBase = {
      type: 'text',
      placeholder: 'ДД.ММ.ГГГГ',
      button: 'expand-more',
      style: 'dropdown',
      openByButton: true,
      readonly: true,
      size: size,
    }

  if dropdownClass
    .date-dropdown
      .date-dropdown__input-filter(class=dropdownClass)
        label.date-dropdown__label= dropdownLabel || ""
          -
            const inputPropsSingle = Object.assign({}, inputPropsBase, {   
              placeholder:'ДД МM - ДД МM',
            })

          +input(inputPropsSingle)(data-input)
  else
    fieldset.date-dropdown
      .date-dropdown__input(class=dropdownArrivalClass)
        label.date-dropdown__label= arrivalLabel || ""
          +input(inputPropsBase)(data-input)
      .date-dropdown__input(class=dropdownDepartureClass)
        label.date-dropdown__label= departureLabel || ""
          +input(inputPropsBase)(data-input)
