//- available properties:
  score: 1 | 2 | 3 | 4 | 5;
  name: string;
  disabled: boolean

mixin button-rate({ score, name, disabled = true })
  fieldset.button-rate(disabled=disabled)
    .button-rate__input-group
      - const rateValues = ["Ужасно", "Сносно", "Нормально", "Хорошо", "Отлично"];
      each val, i in rateValues
        - const isChecked = i < score;
        input.button-rate__star(
          type='radio',
          name=name,
          value=val,
          aria-label=val,
          checked=isChecked
        )
