//- available properties:
  items: Item[]
  Item: {
    info: 'comfort' | 'convenience' | 'cosiness';
    underline: boolean;
  }

mixin room-info-item(icon, heading, text, underline)
  - const itemClass = `room-info__item ${underline ? 'room-info__item--underlined':''}`;
  - const iconClass = `room-info__icon room-info__icon--${icon}`

  li(class=itemClass)
    div(class=iconClass)
    .room-info__about
      p.room-info__heading=heading
      p.room-info__text=text

mixin room-info({items})
  ul.room-info
    each item in items
      case item.info
        when 'comfort'
          +room-info-item('comfort','Комфорт', 'Шумопоглощающие стены', item.underline)
        when 'convenience'
          +room-info-item('convenience','Удобство', 'Окно в каждой из спален', item.underline)
        when 'cosiness'
          +room-info-item('cosiness','Уют', 'Номер оснащён камином', item.underline)