extends /layouts/base.pug

include /components/logo/logo.pug
include /components/input/input.pug
include /components/date-dropdown/date-dropdown.pug
include /components/dropdown/dropdown.pug
include /components/input-checkbox/input-checkbox.pug
include /components/input-radio/input-radio.pug
include /components/input-toggle/input-toggle.pug
include /components/button/button.pug
include /components/button-like/button-like.pug
include /components/button-rate/button-rate.pug
include /components/checkbox-list/checkbox-list.pug
include /components/room-advantages/room-advantages.pug
include /components/pagination/pagination.pug
include /components/bullet-list/bullet-list.pug
include /components/review/review.pug
include /components/range-slider/range-slider.pug

block baseVariables
  - const title = 'Form elements';
  - const bodyClass = 'form-elements';

block content
  -
    const dateDropdownProps = {
      arrivalLabel: 'date dropdown',
      departureLabel: 'date dropdown',
      size: 'small',
      dropdownArrivalClass: 'js-form-elements-dropdown-arrival',
      dropdownDepartureClass: 'js-form-elements-dropdown-departure',
    }

    const dateDropdownSingleProps = {
      dropdownLabel: 'filter date dropdown',
      size: 'medium',
      dropdownClass: 'js-form-elements-dropdown-single',
    }

    const checkboxListItems = [
      { text: 'Завтрак', name: 'hasBreakfast', checked: false },
      { text: 'Письменный стол', name: 'hasDesk', checked: true },
      { text: 'Стул для кормления', name: 'hasChairForFeeding', checked: true },
      { text: 'Кроватка', name: 'hasCrib', checked: true },
      { text: 'Телевизор', name: 'hasTV', checked: false },
      { text: 'Шампунь', name: 'hasShampoo', checked: false },
    ]

    const checkboxListBase = {
      legend: 'expandable checkbox list',
      name: 'expandableCheckboxList',
      expandable: true,
      items: checkboxListItems,
    }

    const roomAdvantagesItems = [
      { info: 'comfort', underline: true },
      { info: 'convenience', underline: true },
    ]

    const checkboxButtonsItems = [
      { text: 'Можно курить' },
      { text: 'Можно с питомцами', checked: true },
      { text: 'Можно пригласить гостей (до&nbsp;10&nbsp;человек)', checked: true },
    ]

    const richCheckboxItems = [
      { 
        text: 'Широкий коридор',
        name: 'hasLargeHall',
        info: 'Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см.'
      },
      {
        text: 'Помощник для инвалидов',
        name: 'hasHelperForInvalids',
        info: 'На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера.'
      },
    ]

    const reviewProps = {
      avatar: require('/assets/images/users/murad-sarafanov.png'),
      name: 'Мурад Сарафанов',
      date: '5 дней назад',
      text: `Великолепный матрас на&nbsp;кровати в&nbsp;основной спальне! А&nbsp;пуфик вообще потрясающий. И&nbsp;стены, действительно, шумоподавляющие. Выкрикивал комплименты повару&nbsp;&mdash; никто не&nbsp;жаловался из&nbsp;соседей.`,
      likesNumber: 12,
    }

    const buttonPaymentProps = {
      style: 'filled',
      width: 'full',
      withArrow: true,
      text: 'перейти к оплате',
      href: '/mock-address.html'
    }

    const bulletListItems = [
      'Нельзя с питомцами',
      'Без вечеринок и мероприятий',
      'Время прибытия&nbsp;&mdash; после 13:00, а&nbsp;выезд до&nbsp;12:00'
    ]

  .form-elements__logo
    .form-elements__logo-icon
      +logo({ style: 'gray' })

  .form-elements__container
    .form-elements__grid-item.form-elements__grid-item_column_1
      .form-elements__item
        .form-elements__item-info
          span.form-elements__item-name= 'text field'
          span.form-elements__item-state= 'default'
        +input({ type: 'text', name: 'textField', placeholder: 'Email', size: 'large' })

      .form-elements__item
        .form-elements__item-info
          span.form-elements__item-name= 'text field'
          span.form-elements__item-state= 'hover / focus'
        +input({ type: 'text', name:'textFieldWithHover', value: 'This is pretty awesome', size: 'large', onHover: true })

      .form-elements__item.form-elements__item_margin_small
        .form-elements__dropdown-guests.js-form-elements-dropdown-guests
          +dropdown({ name: 'dropdownGuests' })

      .form-elements__item.form-elements__item_margin_large
        .form-elements__item-info
          span.form-elements__item-name= 'masked text field'
        +input({ type: 'text', name: 'maskedTextField', placeholder: 'ДД.ММ.ГГГГ', size: 'large', mask: 'date' })

      .form-elements__item.form-elements__item_margin_large
        +date-dropdown(dateDropdownProps)

      .form-elements__item.form-elements__item_size_medium.form-elements__item_margin_large
        +date-dropdown(dateDropdownSingleProps)

      .form-elements__item.form-elements__item_size_medium
        .form-elements__item-info
          span.form-elements__item-name= 'subscription text field'
        +input({ type: 'email', name: 'email', placeholder: 'Email', button: 'arrow', size: 'medium' })

    .form-elements__grid-item.form-elements__grid-item_column_1
      .form-elements__item.form-elements__item_size_medium
        .form-elements__item-info.form-elements__item-info_margin_extra-small
          span.form-elements__item-name= 'dropdown'
          span.form-elements__item-state= 'default'
        .form-elements__dropdown-room-amenity.js-form-elements-dropdown-room-amenity
          +dropdown({ name: 'dropdownRoomAmenity' })

      .form-elements__item.form-elements__item_margin_largest.form-elements__item_size_medium
        .form-elements__item-info.form-elements__item-info_margin_extra-small
          span.form-elements__item-name= 'dropdown'
          span.form-elements__item-state= 'expanded'
        .form-elements__dropdown-room-amenity-expanded.js-form-elements-dropdown-room-amenity-expanded
          +dropdown({ name: 'dropdownRoomAmenityExpanded' })

      .form-elements__item.form-elements__item_margin_extra-small.form-elements__item_size_medium  
        .form-elements__checkbox-list.js-form-elements-checkbox-list
          +checkbox-list({ ...checkboxListBase, expanded: false })

      .form-elements__item.form-elements__item_size_medium
        .form-elements__checkbox-list.js-form-elements-checkbox-list
          +checkbox-list({ ...checkboxListBase, expanded: true })

    .form-elements__grid-item.form-elements__grid-item_column_1
      .form-elements__room-advantages
        +room-advantages({ items: roomAdvantagesItems })

    .form-elements__grid-item.form-elements__grid-item_column_2
      .form-elements__item.form-elements__item_margin_large.form-elements__item_size_medium
        .form-elements__checkbox-list.js-form-elements-checkbox-list
          +checkbox-list({ legend:'checkbox buttons', expandable: false, items: checkboxButtonsItems })

      .form-elements__item.form-elements__item_margin_medium-large
        fieldset.form-elements__fieldset(name='genderSelect')
          legend.form-elements__fieldset-legend= 'radio buttons'
          .form-elements__fieldset-row.form-elements__fieldset-row_gap_medium
            +input-radio({ text: 'Мужчина', value: 'мужчина', name: 'gender', checked: true })
            +input-radio({ text: 'Женщина', value: 'женщина', name: 'gender' })

      .form-elements__item.form-elements__item_margin_large
        fieldset.form-elements__fieldset(name='subscribeToggle')
          legend.form-elements__fieldset-legend= 'toggle'
          .form-elements__fieldset-column.form-elements__fieldset-column_gap_small
            +input-toggle({ text: 'Получать спецпредложения', name: 'getSpecialOffers', checked: true })
            +input-toggle({ text: 'Получать спецпредложения', name: 'getSpecialOffers' })

      .form-elements__item.form-elements__item_margin_larger
        fieldset.form-elements__fieldset(name='likes')
          legend.form-elements__fieldset-legend= 'like button'
          .form-elements__fieldset-row.form-elements__fieldset-row_gap_small
            +button-like({ likesNumber: 2 })
            +button-like({ likesNumber: 12 , isPressed: true })

      .form-elements__item.form-elements__item_margin_large
        .form-elements__item-info.form-elements__item-info_margin_large
          span.form-elements__item-name= 'rate button'
        .form-elements__item-wrapper
          +button-rate({ name: 'roomRating', inputName: 'rating', score: 4 })
          +button-rate({ name: 'roomRating', inputName: 'rating-second', score: 5 })

    .form-elements__grid-item.form-elements__grid-item_column_2
      .form-elements__item.form-elements__item_margin_extra-large
        .form-elements__dropdown-guests_with-controls.js-form-elements-dropdown-guests-with-controls
          +dropdown({ name: 'dropdownGuestsWithControls' })

      .form-elements__item.form-elements__item_size_medium
        .form-elements__checkbox-list.js-form-elements-checkbox-list
          +checkbox-list({ legend: 'rich Checkbox Buttons', expandable: false, items: richCheckboxItems })

    .form-elements__grid-item.form-elements__grid-item_column_2-3
      .form-elements__review
        +review(reviewProps) 

    .form-elements__grid-item.form-elements__grid-item_column_3
      .form-elements__item.form-elements__item_margin_small.form-elements__item_size_medium
        .form-elements__range-slider.js-form-elements-range-slider
          +range-slider({ label: 'range slider' })

      .form-elements__item.form-elements__item_margin_large
        fieldset.form-elements__fieldset(name='buttons')
          legend.form-elements__fieldset-legend= 'buttons'
          .form-elements__fieldset-column.form-elements__fieldset-column_gap_large
            .form-elements__fieldset-row.form-elements__fieldset-row_gap_medium
              +button({ style: 'filled', width: 'small', text: 'click me' })
              +button({ style: 'filled', width: 'small', text: 'click me', isHovered: true })

            .form-elements__fieldset-row.form-elements__fieldset-row_gap_medium
              +button({ width: 'small', text: 'click me' })
              +button({ width: 'small', text: 'click me', isHovered: true })

            .form-elements__fieldset-row.form-elements__fieldset-row_gap_medium
              +button({ style: 'borderless', text: 'click me' })
              +button({ style: 'borderless', text: 'click me', isHovered: true })

            .form-elements__fieldset-row
              +button(buttonPaymentProps)

      .form-elements__item
        .form-elements__item-info.form-elements__item-info_margin_large
          span.form-elements__item-name= 'pagination'
        +pagination({ currentPage: 1, pagesCount: 15, itemsPerPage: 12 })

    .form-elements__grid-item.form-elements__grid-item_column_3
      .form-elements__item.form-elements__item_margin_extra-large
        .form-elements__dropdown-guests_with-controls-and-values.js-form-elements-dropdown-guests-with-controls-and-values
          +dropdown({ name: 'dropdownGuestsWithControlsAndValues' })

      .form-elements__item.form-elements__item_size_medium
        .form-elements__item-info.form-elements__item-info_margin_large
          span.form-elements__item-name= 'bullet list'
        +bullet-list({ items: bulletListItems })
