//- available properties:
  name: string;
  expandable: boolean;
  expanded: boolean;
  items: Item[];
  Item: {
    name: string,
    checked: boolean,
    info: string,
  }

include /components/input-checkbox/input-checkbox.pug

mixin checkbox-list({ name, expandable=false, expanded=true, items })
  - const expandModifier = "checkbox-list__items--expand";
  - const rotateModifier = "checkbox-list__icon--rotate";
  - const itemsStyles = `checkbox-list__items ${expanded ? expandModifier : ""}`;
  - const iconStyles = `checkbox-list__icon ${expanded ? rotateModifier : ""}`;

  .checkbox-list
    if expandable
      button.checkbox-list__button(type='button')
        h3.checkbox-list__name= name
        span(class=iconStyles)
    else
      h3.checkbox-list__name= name

    fieldset(class=itemsStyles)
      each item in items
        +input-checkbox(item)
