//- available properties:
  legend: string;
  name: string;
  expandable: boolean;
  expanded: boolean;
  items: Item[];
  Item: {
    name: string,
    checked: boolean,
    info: string,
  }

include /components/input-checkbox/input-checkbox.pug

mixin checkbox-list({ legend, name, items, expandable = false, expanded = true})
  -
    const itemClassNames = {
      'checkbox-list': true,
      'js-checkbox-list': true,
      'checkbox-list_expanded': expanded,
    }

    const iconClassNames = {
      'checkbox-list__icon': true,
      'js-checkbox-list-icon': true,
      'checkbox-list__icon_style_expand': (expanded ? false : true),
      'checkbox-list__icon_style_expand-less': (expanded ? true : false),
    }

  fieldset(class=itemClassNames, name=name)
    if expandable
      legend.checkbox-list__legend.checkbox-list__legend_expandable
        button.checkbox-list__button.js-checkbox-list-button(type='button')
          span.checkbox-list__name!= legend
          span(class=iconClassNames)
    else
      legend.checkbox-list__legend!= legend

    ul.checkbox-list__items.js-checkbox-list-items
      each item in items
        li.checkbox-list__item
          +input-checkbox(item)
