extends /layouts/base.pug

block baseVariables
  - const title = "Toxin pages";
  - const bodyClass = "pages";

include /components/logo/logo.pug

block content
  section.pages__container
    .pages__logo
      .pages__logo-icon
        +logo({style:'colored'}) 

    ul.pages__list
      li.pages__item
        a.pages__link(href='landing-page.html')= "Landing page"
      li.pages__item
        a.pages__link(href='search-room.html')= "Search room"
      li.pages__item
        a.pages__link(href='room-details.html')= "Room details"
      li.pages__item
        a.pages__link(href='sign-in.html')= "Sign-in"
      li.pages__item
        a.pages__link(href='registration.html')= "Registration"
      li.pages__item
        a.pages__link(href='colors-and-type.html')= "Colors and type"
      li.pages__item
        a.pages__link(href='form-elements.html')= "Form elements"
      li.pages__item
        a.pages__link(href='cards.html')= "Cards"
      li.pages__item
        a.pages__link(href='headers-and-footers.html')= "Headers and footers"
