mixin chart-plugin
  .chart-plugin
    .chart-plugin__heading= "Впечатления от номера"
    .chart-plugin__wrapper
      .chart-plugin__container
        canvas.chart-plugin__canvas.js-chart-plugin__canvas(width='120', height='120')
      ul.chart-plugin__legend-items
        li.chart-plugin__item.chart-plugin__item_style_great
          span.chart-plugin__item-text= "Великолепно"
        li.chart-plugin__item.chart-plugin__item_style_good
          span.chart-plugin__item-text= "Хорошо"
        li.chart-plugin__item.chart-plugin__item_style_passably
          span.chart-plugin__item-text= "Удовлетворительно"
        li.chart-plugin__item.chart-plugin__item_style_disappointed
          span.chart-plugin__item-text= "Разочарован"
