//- available properties:
  text: string;
  name: string;
  info: string;
  checked: boolean;

mixin input-checkbox({ text, name, info, checked = false })
  label.input-checkbox
    input.input-checkbox__input(checked=checked, name=name, type='checkbox')
    span.input-checkbox__input-icon
    if info
      span.input-checkbox__text-wrapper
        span.input-checkbox__heading!= text
        span.input-checkbox__info!= info
    else
      span.input-checkbox__text!= text
