mixin socials
  ul.socials
    li.socials__item
      a.socials__item-link(href='/mock-address.html') 
        img.socials__item-icon(
          src=require("/src/components/socials/icons/twitter.svg"),
          alt='twitter icon'
        )
    li.socials__item
      a.socials__item-link(href='/mock-address.html') 
        img.socials__item-icon(
          src=require("/src/components/socials/icons/facebook.svg"),
          alt='facebook icon'
        )
    li.socials__item
      a.socials__item-link(href='/mock-address.html') 
        img.socials__item-icon(
          src=require("/src/components/socials/icons/instagram.svg"),
          alt='instagram icon'
        )
