mixin socials
  ul.socials
    li.socials__item
      a.socials__item-link(href='/mock-address.html') 
        img.socials__item-icon(
          alt='twitter icon',
          src=require('/src/components/socials/icons/twitter.svg')
        )
    li.socials__item
      a.socials__item-link(href='/mock-address.html') 
        img.socials__item-icon(
          alt='facebook icon',
          src=require('/src/components/socials/icons/facebook.svg')
        )
    li.socials__item
      a.socials__item-link(href='/mock-address.html') 
        img.socials__item-icon(
          alt='instagram icon',
          src=require('/src/components/socials/icons/instagram.svg')
        )
