mixin room-info
  .room-info
    .room-info__room-number-wrapper
      span.room-info__number-symbol= "№ "
      span.room-info__number= "888"
      span.room-info__type= "люкс"
    .room-info__price-wrapper
      .room-info__price= "9 990₽"
      .room-info__price-text= " в сутки"