//- available properties:
  numberStyle: compact | normal;
  number: number;
  price: number;
  type: люкс;

mixin room-info({ number, price, numberStyle = 'normal', type = '' })
  -
    const numberStyles = {
      compact: 'room-info__number_size_compact',
      normal: 'room-info__number_size_normal',
    }
  -
    const numberClasses = `room-info__number ${numberStyles[numberStyle]}`;
    const formatPrice = new Intl.NumberFormat('ru-RU', {
      style: 'currency',
      currency: 'RUB',
      minimumFractionDigits: 0,
    }).format(price).replace(/\s(?=[^.]$)/, '');

  .room-info 
    .room-info__room-number-wrapper
      span.room-info__number-symbol= "№ "
      span(class=numberClasses)= number
      span.room-info__type= type
    .room-info__price-wrapper
      .room-info__price= formatPrice
      .room-info__price-text!= "&nbsp; в сутки"
