mixin header-nav
  nav.header-nav
    ul.header-nav__list
      li.header-nav__item.header-nav__item--selected
        a.header-nav__item-link(href='/mock-address.html')= "О нас"
      li.header-nav__item.header-nav__item--expanded
        a.header-nav__item-link(href='/mock-address.html')= "Услуги"
      li.header-nav__item
        a.header-nav__item-link(href='/mock-address.html')= "Вакансии"
      li.header-nav__item
        a.header-nav__item-link(href='/mock-address.html')= "Новости"
      li.header-nav__item.header-nav__item--expanded
        a.header-nav__item-link(href='/mock-address.html')= "Соглашения"
